*, *::after, *::before{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

body{
    font-family: Verdana,  Tahoma, sans-serif;
    background-color: #ffff;
}

ul{
    margin: 0px;
    padding: 0px;
}
.linksMenu{
    text-decoration: none;
    color: #ffff;
}
.linksMenu:hover{
    color: #9E1972;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: #ffff;
}

#header{
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem; 
}
#menu a{
    display:block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

.header-site{
    background-image: url('../img/background.jpg');
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: #ffff;
    padding-top:300px;
    padding-bottom: 300px;
}
.about .row{
   padding-top:300px;
   padding-bottom:100px;
}
.content-site{
    padding-bottom: 300px;
}
#titles-Technologies-descrition{
    margin-top: 250px;
}
#title-Section-technologies{
    color: #9E1972;
    
}
.titles-Ramiro{
    color: #9E1972;
}
.img-site{
    background-image: url('../img/background.jpg');
    background-position: center top;
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    color: #ffff;
    padding-top:300px;
    padding-bottom: 300px;
}
.icones-gerais{
    width: 10%;
    height: 10%;
}

.thumbnail{
    margin-top: 100px;
}

.thumbnail:hover{
    transform: scale(1.1);  
    transition: all .2s linear;
    cursor: pointer;

}
.technologies-logo{
    width: 20%;
    height: 20%;
}
#py-image{
    height: 80%;
    width: 80%;
}
#htmlImage{
    height: 80%;
    width: 80%;
}
.logo{
    font-size: 100px;
}
.logo:hover{
    color:#9E1972;
    cursor:pointer;
}
#contato{
    font-size: 25px;
}
#contato a{
    text-decoration: none;
    color: #ffff;
}
.icones-contato{
    width: 5%;
}
#thanks{
    margin-top: 300px;
}
.linha{
    margin-top: 80px;
}
.portfolio{
    margin-bottom: 300px
}
.projetos{
        margin-top: 100px;
}
.fixado{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: #9E1972;
    width: 50px; 
    height: 50px; 
    -webkit-border-radius: 50px; 
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 40px;
    text-align: center;
    padding-top: 10px;
    z-index: 1;
}   
#flecha{
    width: 50%;
}
#aviso-whatsapp{
    display: none;
    transition: all .2s linear;
    
}
#aviso-whatsapp:hover{
    color:#9E1972;
}
#numeroTelefone{
    display: none;
    transition: all .2s linear;
}
#numeroTelefone:hover{
    color:#9E1972;
}
#copiar{
    display: none;
    transition: all .2s linear;
}
#copiar:hover{
    color:#9E1972;
    cursor:pointer;
    
}
#email{
    display: none;
    transition: all .2s linear;
}
#email:hover{
    color: #9E1972;
    cursor:pointer;
}
.flecha-abrir{
    width: 3%;
    padding: 0px;
    display: flex;
    margin: auto;
    margin-top: 20px;
}
#flecha-abrir-whatsapp{
    width: 3%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#flecha-fechar-whatsapp{
    width: 3%;
    display: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#flecha-abrir-email{
    width: 3%;
    display: flex;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
#flecha-fechar-email{
    width: 3%;
    display: none;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    
}


@media only screen and (max-device-width: 600px) {
    #menu{
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0px;
        background-color: #000000;
        transition: .6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }

    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburguer{
        border-top: 2px solid;
        width: 20px;
        color:#9E1972;
    }
    #hamburguer::after,  #hamburguer::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
        color: #9E1972;
    }
    
    nav.active #hamburguer{
        border-top-color: transparent; 
    }
    #nav.active #hamburguer::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
    #titles-Technologies-descrition{
        margin-bottom: 0px;
    }
    .icones-gerais{
        width: 30%;
        height: 30%;
    }
    .technologies-logo{
        width: 15%;
        height: 15%;
    }
    #icones-projetos{
        width: 15%;
    }
    .projetos{
        margin-top: 100px;
    }
}